<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include('../../partials/preloader.ejs') %>
        <!--*******************
        Preloader end
    ********************-->


        <!--**********************************
        Main wrapper start
    ***********************************-->
        <div id="main-wrapper">

            <!--**********************************
            Nav header start
        ***********************************-->
            <%- include('../../partials/nav-header.ejs') %>
                <!--**********************************
            Nav header end
        ***********************************-->

                <!--**********************************
            Chat box start
        ***********************************-->
                <%- include('../../partials/chatbox.ejs') %>
                    <!--**********************************
            Chat box End
        ***********************************-->




                    <!--**********************************
            Header start
        ***********************************-->
                    <div class="header">
                        <div class="header-content">
                            <nav class="navbar navbar-expand">
                                <div class="collapse navbar-collapse justify-content-between">
                                    <div class="header-left">
                                        <div class="dashboard_bar">
                                            Profile Magement
                                        </div>

                                    </div>
                                    <%- include('../../partials/header.ejs') %>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                    <!--**********************************
            Sidebar start
        ***********************************-->
                    <%- include('../../partials/sidebar.ejs') %>
                        <!--**********************************
            Sidebar end
        ***********************************-->

                        <!--**********************************
            Content body start
        ***********************************-->
                        <div class="content-body">
                            <div class="container-fluid">

                                <!-- <div class="row page-titles">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)">App</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Profile</a></li>
                                    </ol>
                                </div> -->
                                <!-- row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="profile card card-body px-3 pb-4  pb-0">
                                            <div class="profile-head">
                                                <div class="photo-content">
                                                    <div class="cover-photo rounded"></div>
                                                </div>
                                                <div class="profile-info ">
                                                    <div class="profile-photo">
                                                        <img src="images/pic3.jpg" class="img-fluid rounded-circle"
                                                            alt="">
                                                    </div>
                                                    <div class="profile-details">
                                                        <div class="profile-name px-4 pt-2">
                                                            <span
                                                                class=" bg-success-light rounded px-2  py-1 text-success "><i
                                                                    class="bi bi-record-fill "></i> Active</span>
                                                            <h2 class="text-primary mb-0 fw-bold">Tom Alison</h2>
                                                            <h5 class="fw-medium">Lecturer</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <button type="button" class="btn border border-3  btn-style p-0 "
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#exampleModalCenter"><span class="me-2"><i
                                                                    class="bi bi-pencil "></i></span>Edit
                                                        </button>
                                                        <button type="button" 
                                                            class="btn border border-3  btn-style mx-2 p-0"><span class="me-2"><i
                                                                    class="bi bi-file-earmark-text"></i></span>CV 
                                                        </button>
                                                        <button type="button" class="btn border border-3  btn-style p-0" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModalCenter1"><span
                                                                class="me-2"><i
                                                                    class="bi bi-credit-card"></i></span>Card
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="custom-tab-1 px-3 pb-4  pb-0">
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-bs-toggle="tab"
                                                            href="#profile"><i class="la la-home me-2"></i>
                                                            ព័ត៌មានផ្ទាល់ខ្លួន</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#profile1"><i
                                                                class="la la-user me-2"></i> វត្តមាន</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#message1"><i
                                                                class="la la-envelope me-2"></i>ប្រាក់បៀវត្តន៍</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#contact1"><i
                                                                class="la la-phone me-2"></i> ប្រតិបត្តិការ</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="profile" role="tabpanel">
                                                        <div class="row">
                                                            <div class="col-6 mt-5 ">
                                                                <h3 class="pb-4">ព័ត៌មានផ្ទាល់ខ្លួន</h3>
                                                                <div class="card card-body bg-white shadow  z-3">
                                                                    <table class="table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>គោត្តនាម</td>
                                                                                <td>:</td>
                                                                                <td>ហ៊ន</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>នាម</td>
                                                                                <td>:</td>
                                                                                <td>ចាន់មុនីរ័ត្ន</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>ភេទ</td>
                                                                                <td>:</td>
                                                                                <td>ស្រី</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>ថ្ងៃ ខែ ឆ្នាំ កំណើត</td>
                                                                                <td>:</td>
                                                                                <td>១៨ តុលា ២០០០</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>លេខទូរសព្ទ</td>
                                                                                <td>:</td>
                                                                                <td>097627263</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>អាស័យដ្ឋាន</td>
                                                                                <td>:</td>
                                                                                <td>បឹងកក់១ ទួលគោក ភ្នំពេញ
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 mt-5 ">
                                                                <h3 class="pb-4">ព័ត៌មានការងារ</h3>
                                                                <div class="card card-body bg-white shadow  z-3">
                                                                    <table class="table ">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>ដេប៉ាតឺម៉ង់</td>
                                                                                <td>:</td>
                                                                                <td>ហ៊ន</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>មុខតំណែង</td>
                                                                                <td>:</td>
                                                                                <td>ចាន់មុនីរ័ត្ន</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>ប្រាក់បៀវត្សន៍</td>
                                                                                <td>:</td>
                                                                                <td>ស្រី</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>ថ្ងៃចូលធ្វើការ</td>
                                                                                <td>:</td>
                                                                                <td>១៨ តុលា ២០០០</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="profile1">
                                                        <div class="row">
                                                            <div class="col-9 mt-5">
                                                                <!-- <h3 class="pb-4">ព័ត៌មានផ្ទាល់ខ្លួន</h3> -->
                                                                <h3 class=" pb-4">បញ្ជីវត្តមាន</h3>
                                                                <div
                                                                    class="card card-body bg-white shadow align-items-center">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th></th>
                                                                                <th>ចូលធ្វើការ</th>
                                                                                <th>ចេញពីធ្វើការ</th>
                                                                                <th>ស្ថានភាព</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th><input type="checkbox"></th>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td><span
                                                                                        class="badge-danger px-3 py-1 rounded text-white">Late</span>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th><input type="checkbox"></th>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td><span
                                                                                        class="badge-success px-3 py-1 rounded text-white">Good</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th><input type="checkbox"></th>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td><span
                                                                                        class="badge-danger px-3 py-1 rounded text-white">Late</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th><input type="checkbox"></th>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td><span
                                                                                        class="badge-success px-3 py-1 rounded text-white">Good</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th><input type="checkbox"></th>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td><span
                                                                                        class="badge-success px-3 py-1 rounded text-white">Good</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th><input type="checkbox"></th>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td><span
                                                                                        class="badge-success px-3 py-1 rounded text-white">Good</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th><input type="checkbox"></th>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td>Dec 30, 09:42 PM</td>
                                                                                <td><span
                                                                                        class="badge-success px-3 py-1 rounded text-white">Good</span>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <nav aria-label="Page navigation">
                                                                        <ul class="pagination justify-content-center">
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">ថយក្រោយ</a></li>
                                                                            <li class="page-item active"><a
                                                                                    class="page-link" href="#">1</a>
                                                                            </li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">2</a></li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">3</a></li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">...</a></li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">10</a></li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">បន្ត</a></li>
                                                                        </ul>
                                                                    </nav>
                                                                </div>

                                                            </div>
                                                            <div class="col-3">
                                                                <div class=" mt-5">
                                                                    <h3 class=" mb-4">របាយការណ៍វត្តមាន</h3>
                                                                    <div class="card card-body bg-white shadow ">
                                                                        <div class="pieContainer ">
                                                                            <div class="pieBackground"></div>
                                                                            <div id="pieSlice1" class="hold">
                                                                                <div class="pie"></div>
                                                                            </div>
                                                                            <div id="pieSlice2" class="hold">
                                                                                <div class="pie"></div>
                                                                            </div>
                                                                            <div id="pieSlice3" class="hold">
                                                                                <div class="pie"></div>
                                                                            </div>
                                                                            <div id="pieSlice4" class="hold">
                                                                                <div class="pie"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="d-flex align-items-center justify-content-between mb-4 mt-5">
                                                                            <span class="fs-18 font-w500">
                                                                                <svg class="me-3" width="40" height="20"
                                                                                    viewbox="0 0 20 20" fill="none"
                                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                                    <rect width="50" height="16" 
                                                                                        fill="#0a0"></rect>
                                                                                </svg>
                                                                            ល្អ
                                                                            </span>                    
                                                                        </div>
                                                                        <div
                                                                            class="d-flex align-items-center justify-content-between mb-4 ">
                                                                            <span class="fs-18 font-w500">
                                                                                <svg class="me-3" width="40" height="20"
                                                                                    viewbox="0 0 20 20" fill="none"
                                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                                    <rect width="50" height="16" 
                                                                                        fill="#fdd927"></rect>
                                                                                </svg>
                                                                                មកយឺត
                                                                            </span>
                                                                            
                                                                        </div>
                                                                        <div
                                                                            class="d-flex align-items-center justify-content-between mb-4 ">
                                                                            <span class="fs-18 font-w500">
                                                                                <svg class="me-3" width="40" height="20"
                                                                                    viewbox="0 0 20 20" fill="none"
                                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                                    <rect width="50" height="16" 
                                                                                        fill="#08f"></rect>
                                                                                </svg>
                                                                                សុំច្បាប់
                                                                            </span>    
                                                                        </div>
                                                                        <div
                                                                            class="d-flex align-items-center justify-content-between mb-4 ">
                                                                            <span class="fs-18 font-w500">
                                                                                <svg class="me-3" width="40" height="20"
                                                                                    viewbox="0 0 20 20" fill="none"
                                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                                    <rect width="50" height="16" 
                                                                                        fill="#ea3333"></rect>
                                                                                </svg>
                                                                                អវត្តមាន
                                                                            </span>    
                                                                        </div>
                                                                    
                                                                    </div>
                                                                </div>
                                                                <div class="mt-3">
                                                                    <div class="card card-body bg-white shadow py-0">
                                                                        <button class="btn "><i class="bi bi-person-workspace pe-3"></i>
                                                                            បញ្ជីអវត្តមាន
                                                                        </button>
                                                                        <hr class="my-0">
                                                                        <button class="btn ">
                                                                            <i class="bi bi-person-workspace pe-3"></i> ប្រវត្តិសុំច្បាប់
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>                               
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="message1">
                                                        <div class="row">
                                                            <h3 class=" pb-4 mt-5">ព័ត៌មានប្រាក់បៀវត្សន៍</h3>
                                                            <div class="col-3">
                                                                <div class="card shadow">
                                                                    <div class="text px-3 py-1">
                                                                        <h1 class="fw-bold">300$</h1>
                                                                        <h5 class="text-dark">Base Salary</h5>
                                                                        <p class=""><i class="bi bi-person-workspace "></i>
                                                                         Until January 30th 2025</p>
                                                                    </div>        
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="contact1">
                                                        
                                                    </div>                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModalCenter">Modal centered</button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter">
                            <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">កែតម្រូវព័ត៌មានបុគ្គលិក</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                                            <div class="row">
                                                <div class="col-6 ">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="d-flex justify-content-center mb-4">
                                                                <img src="images/pic3.jpg"
                                                                    class="img-fluid rounded-circle" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <h5 class="modal-title">ព័ត៌មានផ្ទាល់ខ្លួន</h5>
                                                        </div>
                                                        <div class="col-6 ">
                                                            <div class="form-group ">
                                                                <label for="firstName">គោត្តនាម</label>
                                                                <input type="text" class="form-control" id="firstName"
                                                                    placeholder="ហិន">
                                                            </div>
                                                        </div>
                                                        <div class="col-6 ">
                                                            <div class="form-group ">
                                                                <label for="lastName">Last Name</label>
                                                                <input type="text" class="form-control" id="lastName"
                                                                    placeholder="Last Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-6  mt-3">
                                                            <div class="form-group ">
                                                                <label for="gender">Gender</label>
                                                                <select class="form-control" id="gender">
                                                                    <option value="male">Male</option>
                                                                    <option value="female">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 mt-3">
                                                            <div class="form-group">
                                                                <label for="birthDate">Birth Date</label>
                                                                <input type="date" class="form-control" id="birthDate">
                                                            </div>
                                                        </div>
                                                        <div class="col-12  mt-3">
                                                            <div class="form-group">
                                                                <label for="numPhone">Phone</label>
                                                                <input type="text" class="form-control" id="numPhone"
                                                                    placeholder="01234567">
                                                            </div>
                                                        </div>
                                                        <div class="col-12  mt-3">
                                                            <div class="form-group">
                                                                <label for="address">Address</label>
                                                                <textarea class="form-control" id="address"
                                                                    rows="3">ផ្លូវ៥១២ ភូមិ១ បឹងកក់ទី១ ទួលគោក ភ្នំពេញ</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="row ">
                                                        <div class="col-12 mb-3">
                                                            <h5 class="modal-title">ព័ត៌មានការងារ</h5>
                                                        </div>
                                                        <div class="col-12 ">
                                                            <div class="form-group ">
                                                                <label for="firstName">នាយកដ្ឋាន</label>
                                                                <select class="form-control" id="gender">
                                                                    <option value="អប់រំ">អប់រំ</option>
                                                                    <option value="អប់រំ">អប់រំ</option>

                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-3">
                                                            <div class="form-group ">
                                                                <label for="position">មុខតំណែង</label>
                                                                <select class="form-control" id="gender">
                                                                    <option value="គ្រូបង្រៀន">គ្រូបង្រៀន</option>
                                                                    <option value="អប់រំ">អប់រំ</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12  mt-3">
                                                            <div class="form-group ">
                                                                <label for="payroll">ប្រាក់បៀវត្សន៍</label>
                                                                <input type="text" class="form-control" id="payroll"
                                                                    placeholder="300$">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-3">
                                                            <div class="form-group">
                                                                <label for="birthDate">ថ្ងៃចូលធ្វើការ</label>
                                                                <input type="date" class="form-control" id="birthDate">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-3">
                                                            <div class="form-group">
                                                                <label for="numPhone">CV</label>
                                                                <div class="input-group form-control">
                                                                    <div class="form-file border-0">
                                                                        <input type="file"
                                                                            class="form-file-input form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger light"
                                            data-bs-dismiss="modal">បោះបង់</button>
                                        <button type="button" class="btn btn-primary">រក្សាទុក</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="exampleModalCenter1">
                            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">មើលលម្អិតកាតផ្ទាល់ខ្លួន</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                        </button>
                                    </div>
                                    <div class="modal-body align-items-center d-flex justify-content-center">
                                        <img src="images/card-emp.png" class="w-75" alt="">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary text-white fs-4"
                                            data-bs-dismiss="modal"> <i class="bi bi-credit-card-2-front-fill me-3 fs-3"></i>Print Card</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--**********************************
            Content body end
        ***********************************-->


                        <!--**********************************
            Footer start
        ***********************************-->
                        <%- include('../../partials/footer.ejs') %>
                            <!--**********************************
            Footer end
        ***********************************-->

                            <!--**********************************
           Support ticket button start
        ***********************************-->

                            <!--**********************************
           Support ticket button end
        ***********************************-->


        </div>
        <!--**********************************
        Main wrapper end
    ***********************************-->

        <!--removeIf(production)-->

        <!--**********************************
        Scripts
    ***********************************-->
        <!-- Required vendors -->
        <script src="vendor/global/global.min.js"></script>
        <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendor/chart.js/Chart.bundle.min.js"></script>
        <script src="vendor/lightgallery/js/lightgallery-all.min.js"></script>
        <script src="js/custom.min.js"></script>
        <script src="js/dlabnav-init.js"></script>
        <script src="js/demo.js"></script>
        <script src="js/styleSwitcher.js"></script>


</body>

</html>