<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.ejs') %>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include('../../partials/preloader.ejs') %>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		<%- include('../../partials/nav-header.ejs') %>
        <!--**********************************
            Nav header end
        ***********************************-->

		<!--**********************************
            Chat box start
        ***********************************-->
		<%- include('../../partials/chatbox.ejs') %>
		<!--**********************************
            Chat box End
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="dashboard_bar">
                                Table-Bootstrap
                            </div>

                        </div>
                        <%- include('../../partials/header.ejs') %>
                    </div>
				</nav>
			</div>
		</div>

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('../../partials/sidebar.ejs')  %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">

                <!-- row -->

                <div class="row">
                    <div class="col-12">
                        <div class="department d-flex align-items-center justify-content-between">
                            <h2 class="title pb-3">បញ្ជីបុគ្គលិក</h2>

                            <div class="left-item d-flex align-items-center bor pb-3 justify-content-evenly ">
                                <search  class="search me-4 border">
                                    <span><i class="fa-solid fa-magnifying-glass"></i></span>&nbsp; Search
                                </search>


                                <div class="filter me-4 border">
                                    <span><i class="fa-solid fa-filter"></i></span>&nbsp; Filter
                                </div>

                                <div class="created">
                                    <span>+</span>&nbsp; បង្កើត
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="card pb-3">

                            <div class="card-body">
                                <table class="table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Department</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><img src="profile1.jpg" alt="Profile 1"> John Doe</td>
                                            <td><span class="status">Active</span></td>
                                            <td><span class="department">Engineering</span></td>
                                            <td class="action">
                                                <button class="btn btn-primary">Edit</button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 0a.5.5 0 0 1 .5.5V1h5V.5a.5.5 0 0 1 1 0V1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h1V.5a.5.5 0 0 1 .5-.5zM1 4h14v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm1 1v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                                                </svg>
                                            </td>
                                        </tr>
                                        <!-- Additional rows can be added here -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="amount mt-2 ps-4">
                                <p class="fs-4 fw-medium">ដេប៉ាតឺម៉ង់សរុប​ 04</p>
                            </div>

                            <nav aria-label="Page navigation w-100 pb-3">
                                <ul class="pagination w-100 d-flex align-items-center justify-content-between">
                                  <div class="ps-4">
                                    <li class="page-item disabled previous ">
                                        <a class="page-link text-dark"><span class="text-dark"><i class="fa-solid fa-arrow-left"></i></span>&nbsp; ថយក្រោយ</a>
                                      </li>
                                  </div>
                                  <div class="d-flex justify-content-center align-items-center">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">.</a></li>
                                    <li class="page-item"><a class="page-link" href="#">.</a></li>
                                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                  </div>
                                  <div class="pe-4">
                                    <li class="page-item next">
                                        <a class="page-link" href="#">បន្ត&nbsp; <span class="text-dark"><i class="fa-solid fa-arrow-right"></i></span></a>
                                      </li>
                                  </div>


                                </ul>
                              </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('../../partials/footer.ejs') %>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->

    <script src="vendor/global/global.min.js"></script>
    <script src="vendor/chart.js/Chart.bundle.min.js"></script>
	<!-- Apex Chart -->
	<script src="vendor/apexchart/apexchart.js"></script>

    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>


</body>
</html>