<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.ejs') %>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include('../../partials/preloader.ejs') %>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		<%- include('../../partials/nav-header.ejs') %>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<%- include('../../partials/chatbox.ejs') %>
		<!--**********************************
            Chat box End
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="dashboard_bar">
                                Table-Bootstrap
                            </div>
							
                        </div>
                        <%- include('../../partials/header.ejs') %>
                    </div>
				</nav>
			</div>
		</div>
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('../../partials/sidebar.ejs')  %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">

                <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">បុគ្គលិក</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Payroll</a></li>
					</ol>
                </div>

                <!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card pb-3">
                            <div class="card-header w-100 pb-0 d-flex justify-content-between border-0">
                                <div class="ot w-100 d-flex align-items-center justify-content-between">
                                  
                                    <div class="shows d-flex justify-content-around position-relative">
                                        <h4 class="fs-5 me-3">Shows</h4> 
                                        <i class="fa-solid fa-chevron-down"></i>
                                        <select class="form-control select-show bg-transparent fs-5 me-3"  name="show" id="number" >
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                        </select>
        
                                        <span class="fs-5">Entries</span>
                                    </div>
                                    <div class="left-item d-flex align-items-center pb-2 justify-content-evenly ">
                                        <input type="search" class="search me-4" id="search" placeholder="ស្វែងរក..." >
                                        <div class="filter me-4">
                                            <span><i class="fa-solid fa-filter"></i></span>&nbsp; Filter
                                        </div>
                                        <div class="created m-auto ps-0 text-center text-black-50 "  >
                                          <span class="me-2"><i class="fa-solid fa-bell"></i></span>  Alert All
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card-body card-style">
                                <div class="table-responsive">
                                    <table class="table  table-bordered table-responsive-sm" border="1">
                                        <thead>
                                            <tr class="tr-head">
                                                <th class="ps-4">ល.រ</th>
                                                <th >ឈ្មោះបុគ្គលិក</th>
                                                <th>ចំនួនម៉ោង​ OT</th>
                                                <th>Bonus</th>
                                                <th >កាលបរិច្ឆេទ បើកប្រាក់ខែ</th>
                                                <th>ប្រាក់បៀវត្សរ៍</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td class="ps-4">អូន គីមហុង</td>
                                                <td>03</td>
                                                <td>$50</td>
                                                <td >05-02-2015</td>
                                                <td>$250</td>
                                                <td>
                                                    <span class="d-flex">
                                                        
                                                        <!-- Delete Button -->
                                                         <div class="deleted me-2">
                                                           <a  href="#" class="text-danger">
                                                               <i class="fa-regular fa-trash-can" data-bs-toggle="modal" data-bs-target="#deleteModal"></i> &nbsp;
                                                            </a>
                                                         </div>
                                                       
                                                       
                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4 style-modal" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-body pb-0 border-0">
                                                                   <div class="">
                                                                       <span class="fs-1 pb-2 "><i class="fa-solid fa-circle-exclamation"></i></span>
                                                                       <h3 class="fs-3 pb-0">លុប Payroll</h3>
                                                                       <p class="pt-0 mt-0 fs-4">តើអ្នកប្រាកដថាចង់លុប Payroll នេះទេ? សកម្មភាពនេះមិនអាចត្រឡប់វិញបានទេ។</p>
                                                                    </div>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-outline-dark  text-center" data-bs-dismiss="modal"> បោះបង់</button>
                                                                   <button type="button" class="btn btn-danger text-center"> លុប</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>
                                                       
                                                       <!-- edit Button -->
                                                        <div class="edited me-2">
                                                           <a  href="#" class="icon-edit text-success">
                                                               <i class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal"></i>
                                                            </a>
                                                        </div>
                                                       

                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-header">
                                                               <h1 class="modal-title fs-3 fw-medium" id="editModalLabel">កែតម្រូវ PayRoll</h1>
                                                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                               </div>
                                                               <div class="modal-body pb-3 border-0">
                                                                  <form action="">
                                                                       <div class="mb-3">
                                                                           <label for="positioninput" class="form-label">ឈ្មោះបុគ្គលិក</label>
                                                                           <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="អូន គីមហុង">
                                                                       </div>
                                                                       <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">ចំនួនម៉ោង​ OT</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="05">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">Bonus</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="$90">
                                                                        </div>
                                                                     
                                                                      
                                                                  </form>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-danger  text-center" data-bs-dismiss="modal"> <span class="me-3 text-center"><i class="fa-solid fa-x"></i></span>បោះបង់</button>
                                                                   <button type="button" class="btn btn-primary text-center"> <span class="me-3 text-center"><i class="fa-solid fa-download"></i></span>រក្សាទុក</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>

                                                        <!-- notification Button -->
                                                        <div class="notification m-0">
                                                            <a  href="#" class="icon-edit ">
                                                                <i class="fa-solid fa-bell"></i>
                                                             </a>
                                                         </div>
                                                   </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td class="ps-4">អូន គីមហុង</td>
                                                <td>03</td>
                                                <td>$50</td>
                                                <td >05-02-2015</td>
                                                <td>$250</td>
                                                <td>
                                                    <span class="d-flex">
                                                        
                                                        <!-- Delete Button -->
                                                         <div class="deleted me-2">
                                                           <a  href="#" class="text-danger">
                                                               <i class="fa-regular fa-trash-can" data-bs-toggle="modal" data-bs-target="#deleteModal"></i> &nbsp;
                                                            </a>
                                                         </div>
                                                       
                                                       
                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4 style-modal" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-body pb-0 border-0">
                                                                   <div class="">
                                                                       <span class="fs-1 pb-2 "><i class="fa-solid fa-circle-exclamation"></i></span>
                                                                       <h3 class="fs-3 pb-0">លុប Payroll</h3>
                                                                       <p class="pt-0 mt-0 fs-4">តើអ្នកប្រាកដថាចង់លុប Payroll នេះទេ? សកម្មភាពនេះមិនអាចត្រឡប់វិញបានទេ។</p>
                                                                    </div>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-outline-dark  text-center" data-bs-dismiss="modal"> បោះបង់</button>
                                                                   <button type="button" class="btn btn-danger text-center"> លុប</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>
                                                       
                                                       <!-- edit Button -->
                                                        <div class="edited me-2">
                                                           <a  href="#" class="icon-edit text-success">
                                                               <i class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal"></i>
                                                            </a>
                                                        </div>
                                                       

                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-header">
                                                               <h1 class="modal-title fs-3 fw-medium" id="editModalLabel">កែតម្រូវ PayRoll</h1>
                                                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                               </div>
                                                               <div class="modal-body pb-3 border-0">
                                                                  <form action="">
                                                                       <div class="mb-3">
                                                                           <label for="positioninput" class="form-label">ឈ្មោះបុគ្គលិក</label>
                                                                           <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="អូន គីមហុង">
                                                                       </div>
                                                                       <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">ចំនួនម៉ោង​ OT</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="05">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">Bonus</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="$90">
                                                                        </div>
                                                                     
                                                                      
                                                                  </form>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-danger  text-center" data-bs-dismiss="modal"> <span class="me-3 text-center"><i class="fa-solid fa-x"></i></span>បោះបង់</button>
                                                                   <button type="button" class="btn btn-primary text-center"> <span class="me-3 text-center"><i class="fa-solid fa-download"></i></span>រក្សាទុក</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>

                                                        <!-- notification Button -->
                                                        <div class="notification m-0">
                                                            <a  href="#" class="icon-edit ">
                                                                <i class="fa-solid fa-bell"></i>
                                                             </a>
                                                         </div>
                                                   </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td class="ps-4">អូន គីមហុង</td>
                                                <td>03</td>
                                                <td>$50</td>
                                                <td >05-02-2015</td>
                                                <td>$250</td>
                                                <td>
                                                    <span class="d-flex">
                                                        
                                                        <!-- Delete Button -->
                                                         <div class="deleted me-2">
                                                           <a  href="#" class="text-danger">
                                                               <i class="fa-regular fa-trash-can" data-bs-toggle="modal" data-bs-target="#deleteModal"></i> &nbsp;
                                                            </a>
                                                         </div>
                                                       
                                                       
                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4 style-modal" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-body pb-0 border-0">
                                                                   <div class="">
                                                                       <span class="fs-1 pb-2 "><i class="fa-solid fa-circle-exclamation"></i></span>
                                                                       <h3 class="fs-3 pb-0">លុប Payroll</h3>
                                                                       <p class="pt-0 mt-0 fs-4">តើអ្នកប្រាកដថាចង់លុប Payroll នេះទេ? សកម្មភាពនេះមិនអាចត្រឡប់វិញបានទេ។</p>
                                                                    </div>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-outline-dark  text-center" data-bs-dismiss="modal"> បោះបង់</button>
                                                                   <button type="button" class="btn btn-danger text-center"> លុប</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>
                                                       
                                                       <!-- edit Button -->
                                                        <div class="edited me-2">
                                                           <a  href="#" class="icon-edit text-success">
                                                               <i class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal"></i>
                                                            </a>
                                                        </div>
                                                       

                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-header">
                                                               <h1 class="modal-title fs-3 fw-medium" id="editModalLabel">កែតម្រូវ PayRoll</h1>
                                                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                               </div>
                                                               <div class="modal-body pb-3 border-0">
                                                                  <form action="">
                                                                       <div class="mb-3">
                                                                           <label for="positioninput" class="form-label">ឈ្មោះបុគ្គលិក</label>
                                                                           <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="អូន គីមហុង">
                                                                       </div>
                                                                       <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">ចំនួនម៉ោង​ OT</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="05">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">Bonus</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="$90">
                                                                        </div>
                                                                     
                                                                      
                                                                  </form>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-danger  text-center" data-bs-dismiss="modal"> <span class="me-3 text-center"><i class="fa-solid fa-x"></i></span>បោះបង់</button>
                                                                   <button type="button" class="btn btn-primary text-center"> <span class="me-3 text-center"><i class="fa-solid fa-download"></i></span>រក្សាទុក</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>

                                                        <!-- notification Button -->
                                                        <div class="notification m-0">
                                                            <a  href="#" class="icon-edit ">
                                                                <i class="fa-solid fa-bell"></i>
                                                             </a>
                                                         </div>
                                                   </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td class="ps-4">អូន គីមហុង</td>
                                                <td>03</td>
                                                <td>$50</td>
                                                <td >05-02-2015</td>
                                                <td>$250</td>
                                                <td>
                                                    <span class="d-flex">
                                                        
                                                        <!-- Delete Button -->
                                                         <div class="deleted me-2">
                                                           <a  href="#" class="text-danger">
                                                               <i class="fa-regular fa-trash-can" data-bs-toggle="modal" data-bs-target="#deleteModal"></i> &nbsp;
                                                            </a>
                                                         </div>
                                                       
                                                       
                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4 style-modal" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-body pb-0 border-0">
                                                                   <div class="">
                                                                       <span class="fs-1 pb-2 "><i class="fa-solid fa-circle-exclamation"></i></span>
                                                                       <h3 class="fs-3 pb-0">លុប Payroll</h3>
                                                                       <p class="pt-0 mt-0 fs-4">តើអ្នកប្រាកដថាចង់លុប Payroll នេះទេ? សកម្មភាពនេះមិនអាចត្រឡប់វិញបានទេ។</p>
                                                                    </div>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-outline-dark  text-center" data-bs-dismiss="modal"> បោះបង់</button>
                                                                   <button type="button" class="btn btn-danger text-center"> លុប</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>
                                                       
                                                       <!-- edit Button -->
                                                        <div class="edited me-2">
                                                           <a  href="#" class="icon-edit text-success">
                                                               <i class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal"></i>
                                                            </a>
                                                        </div>
                                                       

                                                        <!-- Modal -->
                                                        <div class="modal fade mb-4" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                           <div class="modal-content mb-4">
                                                               <div class="modal-header">
                                                               <h1 class="modal-title fs-3 fw-medium" id="editModalLabel">កែតម្រូវ PayRoll</h1>
                                                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                               </div>
                                                               <div class="modal-body pb-3 border-0">
                                                                  <form action="">
                                                                       <div class="mb-3">
                                                                           <label for="positioninput" class="form-label">ឈ្មោះបុគ្គលិក</label>
                                                                           <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="អូន គីមហុង">
                                                                       </div>
                                                                       <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">ចំនួនម៉ោង​ OT</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="05">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="positioninput" class="form-label">Bonus</label>
                                                                            <input type="text" class="form-control bg-transparent fs-5" id="positioninput" placeholder="$90">
                                                                        </div>
                                                                     
                                                                      
                                                                  </form>
                                                               </div>
                                                               <div class="modal-footer border-0 d-flex mb-4">
                                                                   <button type="button" class="btn btn-danger  text-center" data-bs-dismiss="modal"> <span class="me-3 text-center"><i class="fa-solid fa-x"></i></span>បោះបង់</button>
                                                                   <button type="button" class="btn btn-primary text-center"> <span class="me-3 text-center"><i class="fa-solid fa-download"></i></span>រក្សាទុក</button>
                                                               </div>
                                                           </div>
                                                           </div>
                                                       </div>

                                                        <!-- notification Button -->
                                                        <div class="notification m-0">
                                                            <a  href="#" class="icon-edit ">
                                                                <i class="fa-solid fa-bell"></i>
                                                             </a>
                                                         </div>
                                                   </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="amount-ot mt-2 ps-4 d-flex">
                                    <p class="fs-4 fw-medium me-2">Team members</p> <span class=" amount-position ">100 users</span>
                                </div>

                                <nav aria-label="Page navigation w-100 pb-3">
                                    <ul class="pagination w-100 d-flex align-items-center justify-content-between">
                                      <div class="ps-4">
                                        <li class="page-item  previous ">
                                            <a class="page-link "><span class="text-dark"><i class="fa-solid fa-arrow-left"></i></span>&nbsp; ថយក្រោយ</a>
                                          </li>
                                      </div>
                                      <div class="d-flex justify-content-center align-items-center">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">.</a></li>
                                        <li class="page-item"><a class="page-link" href="#">.</a></li>
                                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                                      </div>
                                      <div class="pe-4">
                                        <li class="page-item next">
                                            <a class="page-link" href="#">បន្ត&nbsp; <span class="text-dark"><i class="fa-solid fa-arrow-right"></i></span></a>
                                          </li>
                                      </div>
                                      
                                      
                                    </ul>
                                  </nav>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('../../partials/footer.ejs') %>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
     <script>
        const exampleModal = document.getElementById('exampleModal')
        if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('.modal-title')
            const modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = `New message to ${recipient}`
            modalBodyInput.value = recipient
        })
        }

        const myModalEl = document.getElementById('myModal')
            myModalEl.addEventListener('hidden.bs.modal', event => {
        // do something...
        })
     </script>
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="vendor/chart.js/Chart.bundle.min.js"></script>
	<!-- Apex Chart -->
	<script src="vendor/apexchart/apexchart.js"></script>
	
    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>
</body>
</html>