<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
	<meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
	<meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
	<meta property="og:image" content="https:/fillow.dexignlab.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Fillow Saas Admin Dashboard</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<link href="vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
	
	<!-- Style css -->
    <link href="css/style.css" rel="stylesheet">
	
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include('../../partials/preloader.ejs') %>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		<%- include('../../partials/nav-header.ejs') %>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<%- include('../../partials/chatbox.ejs') %>
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
        <div class="header border-bottom">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="dashboard_bar">
                                Contacts
                            </div>
                        </div>
                        <%- include('../../partials/header.ejs') %>
                    </div>
				</nav>
			</div>
		</div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		<%- include('../../partials/sidebar.ejs') %>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="input-group contacts-search mb-4">
						<input type="text" class="form-control" placeholder="Search here...">
						<span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
					</div>
					<div class="mb-4">
						<a href="javascript:void(0);" class="btn btn-primary btn-rounded fs-18">+ New Contact</a>
					</div>
				</div>	
				<div class="row">
					<div class="col-xl-12">
						<div class="row">
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic1.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Jakob Gouse</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Highspeed Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic2.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Gretchen Aminoff</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Redblue Studios</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic3.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic4.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Zaire Lubin</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Highspeed Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic4.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Zaire Lubin</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Highspeed Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic3.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic4.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic2.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic4.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic3.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic6.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6 items">
								<div class="card contact-bx item-content">
									<div class="card-header border-0">
										<div class="action-dropdown">
											<div class="dropdown ">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
														<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body user-profile">
										<div class="image-bx">
											<img src="images/pic5.jpg" data-src="images/contacts/Untitled-3.jpg" alt="" class="rounded-circle">
											<span class="active"></span>
										</div>
										<div class="media-body user-meta-info">
											<h6 class="fs-18 font-w600 my-1"><a href="app-profile.html" class="text-black user-name" data-name="Alan Green">Davis Siphron</a></h6>
											<p class="fs-14 mb-3 user-work" data-occupation="UI Designer">Beep Beep Inc.</p>
											<ul>
												<li><a href="javascript:void(0);"><i class="fas fa-phone-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="far fa-comment-alt"></i></a></li>
												<li><a href="javascript:void(0);"><i class="fas fa-video"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="progect-pagination d-flex justify-content-between align-items-center flex-wrap mt-3">
						<h4 class="mb-3">Showing 10 from 160 data</h4>
						<ul class="pagination mb-3">
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">
									<i class="fas fa-angle-double-left me-2"></i>Previous</a>
							</li>
							<li class="page-item">
								<a class=" active" href="javascript:void(0)">1</a>
								<a class="" href="javascript:void(0)">2</a>
								<a class="" href="javascript:void(0)">3</a>
								<a class="" href="javascript:void(0)">4</a>
							</li>
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">
								Next<i class="fas fa-angle-double-right ms-2"></i></a>
							</li>
						</ul>
					</div>
				</div>	
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		


		
        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('../../partials/footer.ejs') %>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->
		
        <!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>

	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	
	<!-- Apex Chart -->
	<!-- Chart piety plugin files -->
	<!-- Dashboard 1 -->
	
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>
	

</body>
</html>