<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include('../partials/preloader.ejs') %>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		<%- include('../partials/nav-header.ejs') %>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<%- include('../partials/chatbox.ejs') %>
		<!--**********************************
            Chat box End
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="dashboard_bar">
                                Table-Bootstrap
                            </div>
							
                        </div>
                        <%- include('../partials/header.ejs') %>
                    </div>
				</nav>
			</div>
		</div>
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('../partials/sidebar.ejs')  %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">

                <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Dashboard</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Attendance</a></li>
					</ol>
                </div>

                <!-- row -->

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="card">
                                            <div class="card-body d-flex px-4 pb-0 justify-content-between">
                                                <div class="sunset ">
                                                    <img src="icons/flaticon/sun.png" alt="">
                                                </div>
                                                <div>
                                                    <h2 class="pb-0">8:02:09&nbsp;AM</h2> 
                                                    <p class="fs-5 mt-0 pt-0 ms-1">Real time insight</p>
                                                </div>
                                               
                                            </div>
                                            <div class="card-footer border-0 pt-3 mt-0">
                                                <div>
                                                    <h3 class="text-black-50">Today :</h3>
                                                    <h2>Feb 03, 2025</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="card pb-4">
                                            <div class="card-body px-4 pb-0">
                                                <div class="d-flex justify-content-between">
                                                    <h2 class="fs-1 fw-bold">546</h2>
                                                    <div class="user-icon">
                                                        <i class="fa-solid fa-user-group"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h3 class="fs-3 text-black-50">Totals Employees</h3>

                                                    <i class="fa-solid fa-plus"></i>
                                                    <span class="fs-4">&nbsp;2 new employees add.</span>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="card pb-4">
                                            <div class="card-body px-4 pb-0">
                                                <div class="d-flex justify-content-between">
                                                    <h2 class="fs-1 fw-bold">370</h2>
                                                    <div class="user-time">
                                                        <i class="fa-regular fa-clock"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h3 class="fs-3 text-black-50">On Times</h3>

                                                    <i class="fa-solid fa-arrow-trend-down"></i>
                                                    <span class="fs-4">&nbsp;-10% less than yesterday.</span>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="card pb-4">
                                            <div class="card-body px-4 pb-0">
                                                <div class="d-flex justify-content-between">
                                                    <h2 class="fs-1 fw-bold">30</h2>
                                                    <div class="user">
                                                        <i class="fa-solid fa-users-slash"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h3 class="fs-3 text-black-50">Absent</h3>

                                                    <i class="fa-solid fa-arrow-trend-up"></i>
                                                    <span class="fs-4">+3% Increase than ytd.</span>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                        </div>
                    
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="card">
                                        <div class="card-header my-0 pb-0 border-0 flex-wrap">
                                            <h4 class="fs-20 font-w700 mb-2">Attendance Comparison Chart</h4>
                                            <div class="d-flex align-items-center project-tab mb-2">
                                                <div class="card-tabs mt-3 mt-sm-0  ">
                                                    <ul class="nav nav-tabs" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-bs-toggle="tab"
                                                                href="#monthly" role="tab">daily</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-bs-toggle="tab" href="#Weekly"
                                                                role="tab">Weekly</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-bs-toggle="tab" href="#Today"
                                                                role="tab">Monthly</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown ms-2 ">
                                                    <div class="btn-link" data-bs-toggle="dropdown">
                                                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5">
                                                            </circle>
                                                            <circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5">
                                                            </circle>
                                                            <circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5">
                                                            </circle>
                                                        </svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item"
                                                            href="javascript:void(0)">Delete</a>
                                                        <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body mt-0 pt-0">
                                           
                                            <div class="tab-content ">
                                                <div class="tab-pane fade active show" id="monthly">
                                                    <div id="chartBar" class="chartBar "></div>
                                                </div>
                                                <div class="tab-pane fade" id="Weekly">
                                                    <div id="chartBar1" class="chartBar"></div>
                                                </div>
                                                <div class="tab-pane fade" id="Today">
                                                    <div id="chartBar2" class="chartBar"></div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <label class="form-check-label font-w400 fs-16 mb-0"
                                                    for="flexSwitchCheckChecked1">Number</label>
                                                <div class="form-check form-switch toggle-switch">
                                                    <input class="form-check-input custome" type="checkbox"
                                                        id="flexSwitchCheckChecked1" checked="">

                                                </div>
                                                <label class="form-check-label font-w400 fs-16 mb-0 ms-3"
                                                    for="flexSwitchCheckChecked2">Analytics</label>
                                                <div class="form-check form-switch toggle-switch">
                                                    <input class="form-check-input custome" type="checkbox"
                                                        id="flexSwitchCheckChecked2" checked="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5">
                                    <div class="card">
                                        <div class="card-header border-0 pb-0">
                                            <h4 class="fs-20 font-w700 mb-0"> Weekly Attendance </h4>
                                            <div class="dropdown ">
                                                <div class="btn-link" data-bs-toggle="dropdowComparison Chart">
                                                    <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5">
                                                        </circle>
                                                        <circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5">
                                                        </circle>
                                                        <circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5">
                                                        </circle>
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                    <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0">
                                            <div id="revenueMap" class="revenueMap"></div>
                                        </div>
                                    </div>
                                    
                                  
                                </div>
                            </div>
                        </div>

                    <div class="col-lg-12">
                        <div class="card pb-3">
                            <div class="card-header w-100 pb-0 d-flex justify-content-between border-0">
                                <div class="ot w-100 d-flex align-items-center justify-content-between">
                                  
                                    <div class="shows d-flex justify-content-around position-relative">
                                        <h4 class="fs-5 me-3">Shows</h4> 
                                        <i class="fa-solid fa-chevron-down"></i>
                                        <select class="form-control select-show bg-transparent fs-5 me-3"  name="show" id="number" >
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                        </select>
        
                                        <span class="fs-5">Entries</span>
                                    </div>
                                    <div class="left-item d-flex align-items-center pb-2 justify-content-evenly ">
                                        <input type="search" class="search me-4" id="search" placeholder="ស្វែងរក..." >

                                        <div class="dates position-relative me-4">
                                            <i class="fa-solid fa-calendar-days"></i> 
                                            <div class="border-0 form-control datePicker">
                                                <input class=" input-daterange-datepicker border-0" type="text" name="daterange" value="26 Feb, 2025">
                                            </div>
                                        </div>


                                        <div class="filter-att ">
                                            <span><i class="fa-solid fa-filter"></i></span>&nbsp; Attendance Filter
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card-body card-style">
                                <div class="table-responsive">
                                    <table class="table  table-bordered table-responsive-sm" border="1">
                                        <thead>
                                            <tr class="tr-head">
                                                <th class="ps-4">ល.រ</th>
                                                <th >ID បុគ្គលិក</th>
                                                <th>ឈ្មោះបុគ្គលិក</th>
                                                <th >កាលបរិច្ឆេទ</th>
                                                <th>Status</th>
                                                <th>ម៉ោងចូល</th>
                                                <th>ម៉ោងចេញ</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td >EID001</td>
                                                <td>អូន គីមហុង</td>
                                                <td >05-02-2015</td>
                                                <td>
                                                    <div class="late-arr">
                                                        <a href="#" class="fs-5 text-color">Late arrival</a>
                                                    </div>
                                                </td>
                                                <td>07:00 AM</td>
                                                <td>07:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td >EID001</td>
                                                <td>អូន គីមហុង</td>
                                                <td >05-02-2015</td>
                                                <td>
                                                    <div class="present">
                                                        <a href="#" class="fs-5 text-color">Present</a>
                                                    </div>
                                                </td>
                                                <td>07:00 AM</td>
                                                <td>07:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td >EID001</td>
                                                <td>អូន គីមហុង</td>
                                                <td >05-02-2015</td>
                                                <td>
                                                    <div class="present">
                                                        <a href="#" class="fs-5 text-color">Present</a>
                                                    </div>
                                                </td>
                                                <td>07:00 AM</td>
                                                <td>07:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td >EID001</td>
                                                <td>អូន គីមហុង</td>
                                                <td >05-02-2015</td>
                                                <td>
                                                    <div class="absent">
                                                        <a href="#" class="fs-5 text-white">Absent</a>
                                                    </div>
                                                </td>
                                                <td>07:00 AM</td>
                                                <td>07:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td >EID001</td>
                                                <td>អូន គីមហុង</td>
                                                <td >05-02-2015</td>
                                                <td>
                                                    <div class="late-arr">
                                                        <a href="#" class="fs-5 text-color">Late arrival</a>
                                                    </div>
                                                </td>
                                                <td>07:00 AM</td>
                                                <td>07:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="ps-4">1</td>
                                                <td >EID001</td>
                                                <td>អូន គីមហុង</td>
                                                <td >05-02-2015</td>
                                                <td>
                                                    <div class="present">
                                                        <a href="#" class="fs-5 text-color">Present</a>
                                                    </div>
                                                </td>
                                                <td>07:00 AM</td>
                                                <td>07:30 PM</td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr class="tr-head">
                                                <th class="ps-4">ល.រ</th>
                                                <th >ID បុគ្គលិក</th>
                                                <th>ឈ្មោះបុគ្គលិក</th>
                                                <th >កាលបរិច្ឆេទ</th>
                                                <th>Status</th>
                                                <th>ម៉ោងចូល</th>
                                                <th>ម៉ោងចេញ</th>
                                               
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="amount-ot mt-2 ps-4 d-flex">
                                    <p class="fs-4 fw-medium me-2">Team members</p> <span class=" amount-position ">100 users</span>
                                </div>

                                <nav aria-label="Page navigation w-100 pb-3">
                                    <ul class="pagination w-100 d-flex align-items-center justify-content-between">
                                      <div class="ps-4">
                                        <li class="page-item  previous ">
                                            <a class="page-link "><span class="text-dark"><i class="fa-solid fa-arrow-left"></i></span>&nbsp; ថយក្រោយ</a>
                                          </li>
                                      </div>
                                      <div class="d-flex justify-content-center align-items-center">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">.</a></li>
                                        <li class="page-item"><a class="page-link" href="#">.</a></li>
                                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                                      </div>
                                      <div class="pe-4">
                                        <li class="page-item next">
                                            <a class="page-link" href="#">បន្ត&nbsp; <span class="text-dark"><i class="fa-solid fa-arrow-right"></i></span></a>
                                          </li>
                                      </div>
                                      
                                      
                                    </ul>
                                  </nav>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('../partials/footer.ejs') %>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
     <script>
        const exampleModal = document.getElementById('exampleModal')
        if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('.modal-title')
            const modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = `New message to ${recipient}`
            modalBodyInput.value = recipient
        })
        }

        const myModalEl = document.getElementById('myModal')
            myModalEl.addEventListener('hidden.bs.modal', event => {
        // do something...
        })
     </script>

       <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="vendor/chart.js/Chart.bundle.min.js"></script>
	<!-- Apex Chart -->
	<script src="vendor/apexchart/apexchart.js"></script>
    


    <!-- Daterangepicker -->
    <!-- momment js is must -->
    <script src="vendor/moment/moment.min.js"></script>
    <script src="vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <script src="vendor/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="vendor/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js"></script>
    <!-- Material color picker -->
    <script src="vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <script src="vendor/pickadate/picker.js"></script>
    <script src="vendor/pickadate/picker.time.js"></script>
    <script src="vendor/pickadate/picker.date.js"></script>



    <!-- Daterangepicker -->
    <script src="js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="js/plugins-init/pickadate-init.js"></script>

	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <!-- Daterangepicker -->
    <script src="js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="js/plugins-init/pickadate-init.js"></script>
	

	<!-- Apex Chart -->
	<script src="vendor/apexchart/apexchart.js"></script>
	
    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>
	
    <!-- Chart piety plugin files -->
	<script src="/vendor/peity/jquery.peity.min.js"></script>

      <!-- Daterangepicker -->
    <!-- momment js is must -->
    <script src="vendor/moment/moment.min.js"></script>
    <script src="vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <script src="vendor/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="vendor/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js"></script>
    <!-- Material color picker -->
    <script src="vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <script src="/vendor/global/global.min.js"></script>
	<script src="/vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

	<script src="/vendor/chart.js/Chart.bundle.min.js"></script>

	<!-- Chart piety plugin files -->
	<script src="/vendor/peity/jquery.peity.min.js"></script>
	<!-- Dashboard 1 -->
	<script src="/js/dashboard/dashboard-1.js"></script>

	<script src="/vendor/owl-carousel/owl.carousel.js"></script>

	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>
    <script>
		function cardsCenter() {

			/*  testimonial one function by = owl.carousel.js */



			jQuery('.card-slider').owlCarousel({
				loop: true,
				margin: 0,
				nav: true,
				//center:true,
				slideSpeed: 3000,
				paginationSpeed: 3000,
				dots: true,
				navText: ['<i class="fas fa-arrow-left"></i>', '<i class="fas fa-arrow-right"></i>'],
				responsive: {
					0: {
						items: 1
					},
					576: {
						items: 1
					},
					800: {
						items: 1
					},
					991: {
						items: 1
					},
					1200: {
						items: 1
					},
					1600: {
						items: 1
					}
				}
			})
		}

		jQuery(window).on('load', function () {
			setTimeout(function () {
				cardsCenter();
			}, 1000);
		});

	</script>
</body>
</html>