<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <%- include('../partials/preloader.ejs') %>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		<%- include('../partials/nav-header.ejs') %>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<%- include('../partials/chatbox.ejs') %>
		<!--**********************************
            Chat box End
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="dashboard_bar">
                                Table-Bootstrap
                            </div>
							
                        </div>
                        <%- include('../partials/header.ejs') %>
                    </div>
				</nav>
			</div>
		</div>
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('../partials/sidebar.ejs')  %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">

                <!-- <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">បុគ្គលិក</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Department</a></li>
					</ol>
                </div> -->
                <!-- row -->

                <div class="row">
                    <div class="col-12">
                        <div class="department d-flex align-items-center justify-content-between">
                            <h2 class="title pb-3">ដេប៉ាតឺម៉ង់</h2>

                            <div class="left-item d-flex align-items-center pb-4 justify-content-evenly ">
                                
                                <input type="search" class="search me-4" id="search" placeholder="ស្វែងរក..." >
    
                                <div class="filter me-4">
                                    <span><i class="fa-solid fa-filter"></i></span>&nbsp; Filter
                                </div>
                               
                                <div class="created" data-bs-toggle="modal" data-bs-target="#createModal">
                                    <span>+</span>&nbsp; បង្កើត
                                </div>
                                 <!-- Modal -->
                                 <div class="modal modal-create fade mb-4" id="createModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content mb-4">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-3 fw-medium" id="editModalLabel">បង្កើតដេប៉ាតឺម៉ង់</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body pb-3 border-0">
                                           <form action="">
                                                <div class="mb-3">
                                                    <label for="positioninput" class="form-label fs-5">ដេប៉ាតឺម៉ង់</label>
                                                    <input type="text" class="form-control bg-transparent fs-5" id="department" placeholder="អភិវឌ្ឍគេហទំព័រ">
                                                </div>
                                                <div class="mb-3 select position-relative">
                                                    <label for="selectLeader" class="form-label fs-5">ប្រធាន</label>
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                    <select  class="form-control bg-transparent fs-5 position-relative" name="selectLeader" id="selectLeader">
                                                       
                                                        <option value="អូន​ គីមហុង">អូន​ គីមហុង</option>
                                                        <option value="អូន​ គីមហុង">អូន​ គីមហុង</option>
                                                        <option value="អូន​ គីមហុង">អូន​ គីមហុង</option>
                                                    </select>
                                                   
                                                </div>
                                               
                                           </form>
                                        </div>
                                        <div class="modal-footer border-0 d-flex justify-content-center mb-4">
                                            <button type="button" class="btn btn-danger  text-center fs-5" data-bs-dismiss="modal"> <span class="me-3 text-center"><i class="fa-solid fa-x"></i></span>បោះបង់</button>
                                            <button type="button" class="btn btn-primary text-center fs-5" onclick="CreateDepartment()"> <span class="me-3 text-center "><i class="fa-solid fa-plus"></i></span>បង្កើត</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
    
                            </div>

                        </div>
                        
                    </div>
                    <div class="col-lg-12">
                        <div class="card pb-3">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th class="ps-4">ល.រ</th>
                                                <th>ដេប៉ាតឺម៉ង់</th>
                                                <th>បង្កើត</th>
                                                <th>បច្ចុប្បន្នភាព</th>
                                                <th>កែតម្រូវ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl_department"></tbody>
                                    </table>
                                </div>

                                <div class="amount mt-2 ps-4 d-flex">
                                    <p class="fs-4 fw-medium me-2">ដេប៉ាតឺម៉ង់សរុប​</p> <span class=" amount-position ">05</span>
                                </div>

                                <nav aria-label="Page navigation w-100 pb-3">
                                    <ul class="pagination w-100 d-flex align-items-center justify-content-between">
                                      <div class="ps-4">
                                        <li class="page-item disabled previous ">
                                            <a class="page-link text-dark"><span class="text-dark"><i class="fa-solid fa-arrow-left"></i></span>&nbsp; ថយក្រោយ</a>
                                          </li>
                                      </div>
                                      <div class="d-flex justify-content-center align-items-center">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">.</a></li>
                                        <li class="page-item"><a class="page-link" href="#">.</a></li>
                                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                                      </div>
                                      <div class="pe-4">
                                        <li class="page-item next">
                                            <a class="page-link" href="#">បន្ត&nbsp; <span class="text-dark"><i class="fa-solid fa-arrow-right"></i></span></a>
                                          </li>
                                      </div>
                                      
                                      
                                    </ul>
                                  </nav>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('../partials/footer.ejs') %>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
     <script>
        const exampleModal = document.getElementById('exampleModal')
        if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('.modal-title')
            const modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = `New message to ${recipient}`
            modalBodyInput.value = recipient
        })
        }

        const myModalEl = document.getElementById('myModal')
            myModalEl.addEventListener('hidden.bs.modal', event => {
        // do something...
        })
     </script>
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>
    <script src="js/department.js"></script>
    <script src="vendor/momentjs/moment.js"></script>
</body>
</html>